
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:hsl(0, 0%, 12%);
  width: 100%;
  max-width: 280px;
  border-radius: 10px;

  padding: 30px 30px 30px 30px;
}

.profile-pic{
  height: 80px;
  border-radius: 100px;
}

.myname{
  font-size: 23px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 4px;
}

.mylocation{
  color: hsl(75, 94%, 57%);
  font-size: 13px;
  margin-bottom: 15px;
}

.myjob{
  font-size: 13px;
  margin-bottom: 20px;
  color : hsl(0, 0%, 80%);
}

.socials{
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 15px;
  width: 180px;  
  font-size: 13px;
  font-weight: 700;
  padding: 10px 50px 10px 50px;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration:  none;
}
a.socials{
  text-decoration:  none;
}

.socials:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
}


@media (max-width: 480px) {
  .container {
    padding: 20px 15px 10px 15px;
  }
}
