body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color:hsl(0, 0%, 8%);
  font-family: Inter, arial;
}

p,div{
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.attribution {
  font-size: 10px;
  text-align: center;
  padding: 10px 0;
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  margin-top: auto; /* Ensures it stays at the bottom */
}

